body {
    font-family: Arial, sans-serif;
    background-color: #878787;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  .container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 600px;
  }
  h1 {
    color: #4CAF50;
  }
  .moisture-value {
    font-size: 2em;
    margin: 20px 0;
  }
  canvas {
    margin-top: 30px;
  }